html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-color: #2f394f;
}


/* Primary website layout system */
.primary {
    position: absolute;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "app" "raw-json"
    ;

    top: 10%;
    left: 0;
    right: 0;
    width: 1200px;
    margin: auto;
    margin-bottom: 32px;
}



/* Primary app box */
.app {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "search" "submit"
        "author" "count"
        "results" "results"
    ;
    
    width: 100%;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

    padding: 16px 16px 0px 16px;
    margin-right: 8px;
}
.searchbar {
    grid-area: search;
    grid-column: span 2;

    width: 100%;
    height: inherit;

    align-items: center;
    justify-items: center;

    margin-bottom: 8px;
}
.submit-button {
    grid-area: submit;

    width: 100%;

    align-items: center;
    justify-items: center;

    margin-bottom: 8px;
}
.author-switch {
    grid-area: author;

    width: 100%;

    align-items: center;
    justify-items: center;
}
.result-counter {
    grid-area: count;

    width: 100%;

    align-items: center;
    justify-items: center;
}
.results {
    grid-area: results;
    grid-column: span 2;

    width: 100%;

    margin-top: 16px;
    padding-top: 16px;

    border-top: 1px solid #2B303A;
}


/* Searchbar */
input[type=text] {
    width: 100%;
    padding: 8px 0px;
    display: block;
    border: 4px solid #2574ce;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    font-size: 16px;
    /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); */
}
input[type=text]:hover {
    border: 4px solid #4c9ffd;
}
input[type=text]:focus {
    border: 4px solid #4c9ffd;
}


/* Submit button */
button {
    display: block;
    color: white;
    background-color: #2574ce;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    font-size: 16px;
    /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); */
}
button:hover {
    background-color: #4c9ffd;
}


/* Result grid */
.result-array {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "title"
        "author"
    ;

    margin-bottom: 16px;
    color: white;
}
.result-array-title {
    grid-area: title;

    background-color: #2f394f;

    padding: 8px;
}
.result-array-author {
    grid-area: author;

    background-color: #3f527a;

    padding: 8px;
}


/* JSON display box */
.raw-json {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 40px auto;
    grid-template-areas:
        "header"
        "content"
    ;

    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

    padding: 16px 16px 16px 16px;
    margin-left: 8px;
}
.json-header {
    grid-area: header;

    color: white;
    background-color: #2574ce;

    font-size: 16px;
    text-align: center;
    padding: 10px 20px;
}
.json-content {
    grid-area: content;

    color: white;
    background-color: #2f394f;

    padding: 12px 20px;
}


@media screen and (max-width: 1200px) {
    .app {
        width: 100%;
    }
}